.block__slider {
  @apply relative overflow-hidden;

  .swiper-container {
    @apply h-full flex items-center justify-center;
  }

  .swiper-wrapper {
    @apply items-center h-full;
  }

  .swiper-slide {
    @apply w-full flex items-center justify-center h-full overflow-hidden;
    background-size: cover;
    background-position: center;

    .content {
      z-index: 1;
    }
  }

}

.block__slider-homepage {
  @apply h-screen w-full;

  .swiper-slide {
  }
}