.block__slider {
  @apply relative overflow-hidden;

  .swiper-container {
    @apply h-full flex items-center justify-center;
  }

  .swiper-wrapper {
    @apply items-center h-full;
  }

  .swiper-slide {
    @apply w-full flex items-center justify-center h-full overflow-hidden;
    background-size: cover;
    background-position: center;

    .content {
      z-index: 1;
    }
  }

}

.block__slider-homepage {
  @apply h-screen w-full overflow-hidden;

  .swiper-slide {
    height: 110%;
    width: 110%;

    .content {
      width: 81.666667%;

      p {
        @apply text-white;
      }
      
      h2 {
        @apply text-white pb-1;
      }

      .sub-line {
        @apply text-sm uppercase;
      }

      .project-description {
        @apply w-1/2;
      }

      .project-link {
        @apply block text-white text-sm mt-6;
      }
    }
  }

  .swiper-pagination {
    width: inherit;
    left: inherit;
    right: 4.1666665%;
    bottom: 2rem;
    color: #cccccc;

    span {
      @apply font-medium px-1;
    }

    .swiper-pagination-current {
      @apply text-2xl text-white;
    }

    .swiper-pagination-total {
      @apply pr-0;
    }
  }
}