.block__slider {
  @apply relative overflow-hidden;

  .swiper-container {
    @apply h-full flex items-center justify-center;
  }

  .swiper-wrapper {
    @apply items-center h-full;
  }

  .swiper-slide {
    @apply w-full flex items-center justify-center h-full overflow-hidden;
    background-size: cover;
    background-position: center;

    .content {
      z-index: 1;
    }
  }

}

.block__slider-homepage {
  @apply bg-noir h-screen w-full overflow-hidden;
  background-size: cover;
  background-position: center;

  .swiper-slide-duplicate-next,
  .swiper-slide-duplicate-active,
  .swiper-slide-prev {
    @apply opacity-0 transition transition-opacity duration-300;
  }

  .swiper-slide {
    @apply justify-start;

    .image {
      @apply block absolute right-0;
      height: 70%;
      width: 60%;
      background-size: cover;
      background-position: center;

      .overlay {
        @apply opacity-50 transition transition-opacity duration-300;
      }
    }

    .content {
      @apply opacity-0 transition transition-opacity duration-300;
      
      width: 75%;
      
      p {
        @apply text-white;
      }
      
      h2 {
        @apply text-white pb-1;
        font-size: 3.5rem;
      }

      .sub-line {
        @apply text-sm uppercase;
      }

      .project-description {
        @apply w-3/4;
      }

      .project-link {
        @apply block text-white text-sm mt-6;
      }
    }

    &-next {
      .image {
        left:0;
        right: inherit;
        margin-left: 10%;
      }
    }

    &-active {
      .image {
        .overlay {
          @apply opacity-0;
        }
      }
      .content {
        @apply opacity-100;
      }
    }
  }

  .swiper-pagination {
    width: inherit;
    left: inherit;
    right: 4.1666665%;
    bottom: 2rem;
    color: rgba(#fff, 0.6);

    span {
      @apply font-medium px-1;
    }

    .swiper-pagination-current {
      @apply text-2xl text-white;
    }

    .swiper-pagination-total {
      @apply pr-0;
    }
  }
}