body {
	@apply overflow-x-hidden;
}

.wrapper {
	@apply w-11/12;
}

.circle-mouse {
	@apply duration-200 transition-opacity;
	opacity: 0;
	position: absolute;
	background: transparent;
	width: 75px;
	height: 75px;
	border-radius: 50%;
	border: 3px solid theme('colors.darkGrey');
	z-index: 1000;
	pointer-events: none;
			
	&.moving {
		opacity: .3;
	}
}

.overlay {
	@apply absolute h-full w-full top-0 left-0;

	&.lightGrey {
		background: linear-gradient(180deg, rgba(245,245,245,0) 40%, rgba(38,39,41,1) 100%);
  }
  
  &.darkBlack {
    background-color: rgba(#000, 0.9);
  }
}