h1 {
    @apply font-sans font-semibold text-darkGrey;
    font-size: 1.75rem;

    @screen lg {
        font-size: 4rem;
    }
}

h2 {
    @apply font-sans font-normal text-darkGrey;
    font-size: 1.5rem;

    @screen lg {
        font-size: 2.75rem;
    }
}

h3 {
    @apply font-sans font-medium text-darkGrey;
    font-size: 2.25rem;
}

h4 {
    @apply font-sans font-normal text-darkGrey;
    font-size: 1.75rem;
}

p {
    // @apply font-medium;
}