.page {
	&__accueil,
	&__home {

		header {
			@screen lg {
				@apply absolute;
			}
		}

		.header-closed {
			.lines {
				&:before,
				&:after {
					@apply invisible opacity-0;
				}
			}
		}
		
	}
}

.page-template-home{
	header {
		@screen lg {
			@apply absolute;
		}

		.desktop {
			@apply bg-transparent;
			.lines {
				&:before,
				&:after {
					@apply invisible opacity-0;
				}
			}

			&.scroll-fixed {
				.lines {
					&:before,
					&:after {
						@apply visible opacity-100;
					}
				}
			}
		}
	}

	.block__anime {
		@apply block;
	}
}

.single{

	&-event {
		.single-sidebar {
			@apply w-full z-10 flex;

			@screen xl {
				@apply w-1/4;
			}

			@media (max-width: 1366px) {
				@apply w-2/5;
			}

			@media (max-width: 1023px) {
				@apply w-full;
			}
		}

		.bg-double-cercle {
			@apply hidden;
			right: -5%;
			bottom: -30%;

			@screen lg {
				@apply flex;
			}
		}

		.credits {
			@apply pt-6;

			p {
				@apply text-xs;
			}

			span:first-child {
				@apply text-credit font-bold uppercase;
			}

			span:last-child {
				@apply text-darkGrey font-bold;
			}
		}

		.layout__general {
			@apply pb-40;
		}

		.overlay-actions {
			@apply flex items-center justify-end;
			width: calc(100% + 3rem);
			margin-top: -3rem;
			margin-left: -1.5rem;
			margin-bottom: 3rem;
			
			@screen lg {
				@apply w-auto transform -translate-y-full;
				margin-top: -3rem;
				margin-right: -3rem;
				margin-bottom: initial;
				position: relative;
				bottom: initial;
			}

			.action {
				@apply w-full flex items-center justify-center bg-red py-4 px-8;

				@screen lg {
					width: inherit;
				}

				span {
					@apply pl-8 pr-4 text-xl text-white font-normal;
				}

				svg {
					@apply w-12;
				}

				@media (hover: hover) {
					&:hover {
						@apply bg-redHover;
					}
				}
			}
		}

		.dates {
			p {
				@apply text-base;
			} 
		}
	}
}

.tax-eventcategory,
.page-template-page-season {
	.loading {
		@apply fixed;
		z-index: 1000;
	}
}

.page-template-page-tickets {
	.block__repeter {
		@apply mt-10;

		@screen lg {
			@apply mt-40;
		}
	}
}

.page-template-page-search {
	.wrap {
		@apply bg-page;
	}

	.search-bar {
		@apply py-12 border-b border-lightGreyHover;

		input {
			@apply bg-transparent text-2.5xl;
		}

		.icon {
			@apply border border-lightGreyHover p-6;
			border-radius: 50%;
			right: 1rem;
			position: relative;

			@screen lg {
				right: 0rem;
			}
		}
	}

	.search-results {
		@apply pb-12;

		.description {
			@apply text-sm border-b-0;
		}
	}
}

.page-template-page-donation {
	.bg-double-cercle {
		@apply hidden;
		bottom: -10%;
		right: -5%;

		@screen lg {
			@apply flex;
		}
	}
}